.concluido, .msg{
    border-radius: 10px;
    border: 2px solid green;
    background-color: lightgreen; 
}

.naoFeito{
    border-radius: 10px;
    border: 2px solid red;
    background-color: lightcoral; 
}

.aFazer{
    border-radius: 10px;
    border: 2px solid gray;
    background-color: lightgray; 
}

.caixa{
    border: 2px solid black;
    border-radius: 10px;
    align-content: center;
    width: 30%;
}

.caixa2{
    padding: 15px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}